/* *********************
* date: 2023.03.30
* author: ren
* description: SCSS Variables File
* => W.I.P
********************* */

/* Color */
$white: #fff;
$black: #000;
$keyColor: #ff8000;
$keyColorDisabled: #dfe1e6;
$kakao: #fee500;
$naver: #03c75a;
$facebook: #1877f2;
$apple: $black;

$bgNoRepeat: no-repeat;
$bgSizeCover: cover;
$bgPositionCenter: center center;
